.home-section {
  padding: 2rem;
  padding-top: 100px;
  background: #f5f6fa;
  min-height: 70vh;
} 
h1 {
  color: #3c6382;
  font-size: 2rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1.2rem;
  color: #222f3e;
}
@media (max-width: 700px) {
  .home-section {
    padding: 1rem 1rem;
    padding-top: 260px;
  }
}